html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.fill, #container, #map {
  width: 100%;
  height: 100%;
}
#details {
  background-color: #FDFDFD;
  border-radius: 6px;
  margin: 0;
  padding: 0;
  overflow-y: hide;
  padding: 4px 8px;
  height: 90%;
}
#title {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: #000 0px 0px 10px;
  height: 3rem;
}
#float-container {
  margin: 1% 0 1% 1%;
  position: absolute;
  z-index: 300;
  width: 20%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.x-btn {
  display: inline-block;
  margin-right: 4px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 3px;
  width:18px;
  height: 18px;
}
.x-btn img {
  margin: auto auto;
  max-width: 16px;
  max-height: 16px;
  cursor: pointer;
}
#controls {
  position: absolute;
  z-index: 300;
  right: 10px;
  top: 10px;
  background-color: white;
  padding: 4px;
  border-radius: 6px;
}
#controls .control {
  cursor: pointer;
}
.float-right {
  float: right;
}
.clickable {
  cursor: pointer
}
.bold-text {
  font-weight: bold
}
.previousBtn, .nextBtn {
  display: inline-block;
  width: 40%;
  margin: 2%;
  padding: 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
}



/* progress bar */
.status-container {
  top: 2px;
  left: 15%;
  width: 80%;
  position: absolute;
  z-index: 400;
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  float: left;
  position: relative;
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: #444 0px 0px 10px;
}
.progressbar li:before {
  content: '';
  counter-increment: step;
  width: 16px;
  height: 16px;
  line-height: 30px;
  /*border: 1px solid #ddd;*/
  display: block;
  text-align: center;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  background-color: white;
  /*box-shadow: #D4D4D4 0px 0px 10px;*/
}
.progressbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  top: 6px;
  left: -50%;
  z-index: -1;
  box-shadow: #888 0px 0px 10px;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #97cd76;
  /*text-shadow: #fff 0px 0px 10px;*/
}
.progressbar li.active:before {
  background-color: #97cd76;
  /*box-shadow: #fff 0px 0px 10px;*/
}
.progressbar li.active + li:after {
  background-color: #97cd76;
  box-shadow: #fff 0px 0px 10px;
}

.is-flexgrow {
  flex-grow: 1;
}
.is-highlighted {
  color: black;
}
.icon-button {
  padding: 3px 3px !important;
}

.is-monospace {
  font-family: monospace;
}

.semantic-pill {
  padding: 2px 4px;
  border-radius: 5px;
}
.semantic-pill.is-info {
  background-color: #42afe3;
  color: white;
}
.slider {
  width: 100%;
  height: 20px
}
.slider:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #69707A;
  top: 8px;
}
.handle {
  background-color: black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.fa-ih {
  font-size: inherit !important;
  vertical-align: inherit !important;
}

.fade-in {
  -webkit-animation: fadeInFromNone 0.90s ease-out;
}
.slide-from-top {
  -webkit-animation: slideFromTop 0.2s ease-out;
}
.slide-from-top-fade-in {
  -webkit-animation: slideFromTopFade 0.5s ease-out;
}

@-webkit-keyframes slideFromTopFade {
  0% {
    position: relative;
    opacity: 0;
    top: -1rem;
  }

  100% {
    position: relative;
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes slideFromTop {
  0% {
    position: relative;
    top: -50%;
  }

  100% {
    position: relative;
    top: 0;
  }
}

@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-scroll:before {
  content:"";
  width: 19%;
  height: 6px;
  position: fixed;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.editable-point {
  background-color: white;
  border-radius: 50%;
  width: 24px !important;
  height: 24px !important;
  font-size: 20px !important;
  padding: 2px;
  border-width: 5px;
  border-style: solid;
}
.new-editable-point {
  border-width: 0;
  opacity: 0.7;
}
.border-color-a6cee3 {
  border-color: #a6cee3;
}
.border-color-1f78b4 {
  border-color: #1f78b4;
}
.border-color-b2df8a {
  border-color: #b2df8a;
}
.border-color-33a02c {
  border-color: #33a02c;
}
.border-color-fb9a99 {
  border-color: #fb9a99;
}
.border-color-e31a1c {
  border-color: #e31a1c;
}
.border-color-fdbf6f {
  border-color: #fdbf6f;
}
.border-color-ff7f00 {
  border-color: #ff7f00;
}
.border-color-cab2d6 {
  border-color: #cab2d6;
}
.border-color-6a3d9a {
  border-color: #6a3d9a;
}
.border-color-ffff99 {
  border-color: #ffff99;
}
.border-color-b15928 {
  border-color: #b15928;
}

.dropInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  color: gray;
  border: 2px dashed gray;
  flex-grow: 1;
}
