html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.fill, #container, #map {
  width: 100%;
  height: 100%;
}
#details {
  background-color: #FDFDFD;
  border-radius: 6px;
  margin: 0;
  padding: 0;
  overflow-y: hide;
  padding: 4px 8px;
  height: 90%;
}
#title {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: #000 0px 0px 10px;
  height: 3rem;
}
#float-container {
  margin: 1% 0 1% 1%;
  position: absolute;
  z-index: 300;
  width: 20%;
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.x-btn {
  display: inline-block;
  margin-right: 4px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 3px;
  width:18px;
  height: 18px;
}
.x-btn img {
  margin: auto auto;
  max-width: 16px;
  max-height: 16px;
  cursor: pointer;
}
#controls {
  position: absolute;
  z-index: 300;
  right: 10px;
  top: 10px;
  background-color: white;
  padding: 4px;
  border-radius: 6px;
}
#controls .control {
  cursor: pointer;
}
.float-right {
  float: right;
}
.clickable {
  cursor: pointer
}
.bold-text {
  font-weight: bold
}
.previousBtn, .nextBtn {
  display: inline-block;
  width: 40%;
  margin: 2%;
  padding: 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
}



/* progress bar */
.status-container {
  top: 2px;
  left: 15%;
  width: 80%;
  position: absolute;
  z-index: 400;
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  float: left;
  position: relative;
  text-align: center;
  font-weight: bold;
  text-shadow: #D4D4D4 0px 0px 10px;
}
.progressbar li:before {
  content: '';
  counter-increment: step;
  width: 16px;
  height: 16px;
  line-height: 30px;
  /*border: 1px solid #ddd;*/
  display: block;
  text-align: center;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  background-color: #69707A;
  box-shadow: #D4D4D4 0px 0px 10px;
}
.progressbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #69707A;
  top: 6px;
  left: -50%;
  z-index: -1;
  box-shadow: #D4D4D4 0px 0px 10px;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #7bbf51;
}
.progressbar li.active:before {
  background-color: #7bbf51;
}
.progressbar li.active + li:after {
  background-color: #7bbf51;
}

.is-flexgrow {
  flex-grow: 1;
}
.is-highlighted {
  color: black;
}
.icon-button {
  padding: 3px 3px !important;
}

.is-monospace {
  font-family: monospace;
}

.semantic-pill {
  padding: 2px 4px;
  border-radius: 5px;
}
.semantic-pill.is-info {
  background-color: #42afe3;
  color: white;
}

